/node_modules
/public/hot
/public/.quarantine
/public/.tmb
/public/storage
/public/uploads
/public/vendor
/public/sitemap.xml
/public/sitemap/*
/public/livewire
/public/.well-known
/storage/*.key
.idea/
/resources/views/raque
/resources/views/default
/vendor
/composer.lock
/package-lock.json
# /packages
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/packages
