:root {
    --color-second: #f58;
    --color-3: #f58;
}

.inline-block {
    display: inline-block;
}


/*
    backgrounds
*/

.bg-svg-01 {
    background-color: #1d868c;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='63.9' stroke-opacity='0' %3E%3Ccircle fill='%2300c395' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%230abc94' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%2311b593' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%2316ae92' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%2319a891' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%231ba190' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%231c9a8f' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%231d948e' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%231e8d8d' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%231d868c' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%231d808b' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%231c798a' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%231a7388' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23186d87' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23156686' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23116085' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%230d5a83' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23065482' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.bg-svg-02 {
    background-color: #0cc6ec;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.31'%3E%3Cpath fill='%2314cee8' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%2317d5e3' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%2317ddde' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%2313e4da' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%2309ecd5' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%2310eccd' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%2313ecc5' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%2314ecbe' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%2314ecb6' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%2312ecae' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.bg-cover-01 {
    background-image: url(/assets/garrin/img/bg/bg1.png);
    background-repeat: no-repeat;
}

.bg-cover-02 {
    background-image: url(/assets/garrin/img/bg/bg2.png);
    background-repeat: no-repeat;
}

.bg-cover-03 {
    background-image: url(/assets/garrin/img/bg/bg3.png);
    background-repeat: no-repeat;
}

.bg-cover-04 {
    background-image: url(/assets/garrin/img/bg/bg4.png);
    background-repeat: no-repeat;
}

.bg-cover-05 {
    background-image: url(/assets/garrin/img/bg/bg5.png);
    background-repeat: no-repeat;
}

.bg-cover-06 {
    background-image: url(/assets/garrin/img/bg/bg6.png);
    background-repeat: no-repeat;
}

.bg-cover-07 {
    background-image: url(/assets/garrin/img/bg/bg7.png);
    background-repeat: no-repeat;
}

.bg-cover-08 {
    background-image: url(/assets/garrin/img/indexbg2.png);
    background-repeat: no-repeat;
}

.bg-gradient-01 {
    background: linear-gradient(119deg, #065482, #00c395) !important;
}

.error {
    color: #f58;
}


/*
    loader-spiner-01
*/

.loader-spiner-01 {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #634d81;
    width: 50px;
    height: 50px;
    margin: auto;
    -webkit-animation: spin .8s linear infinite;
    /* Safari */
    animation: spin .8s linear infinite;
}


/* Safari */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.btn-setting {
    position: absolute;
    width: 26px;
    background: #ffc107;
    border-radius: 0 !important;
    padding: 4px 4px 0 4px !important;
}

.img-frame-02 {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    -moz-transition: all 2000ms cubic-bezier(.19, 1, .22, 1) 0ms;
    -ms-transition: all 2000ms cubic-bezier(.19, 1, .22, 1) 0ms;
    -o-transition: all 2000ms cubic-bezier(.19, 1, .22, 1) 0ms;
    -webkit-transition: all 2000ms cubic-bezier(.19, 1, .22, 1) 0ms;
    transition: all 2000ms cubic-bezier(.19, 1, .22, 1) 0ms;
    box-shadow: -13px 0 rgba(210, 210, 210, 0.2), -23px 0 rgba(225, 225, 225, 0.1);
    border-radius: 190px 0 0 70px;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    z-index: 1;
}

.position-relative {
    position: relative;
}

.card {
    border: 0px !important;
    margin-bottom: 1.875rem;
    overflow: hidden;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, .09);
}

@media (min-width: 768px) {
    .card-vertical {
        flex-direction: inherit !important;
    }
}

.rounded-3xl {
    border-radius: 20px;
}

.latest-posts li {
    display: table;
    width: 100%;
    margin-bottom: 0;
    padding: 20px;
    border-bottom: 1px solid #e1e1e1;
}

.latest-posts li:last-child {
    padding-bottom: 20px;
    margin-bottom: 0px;
    border-bottom: none;
}

.blog-content {
    border-radius: 20px;
    margin-top: -20px;
    background: white;
}

.blog-image {
    margin-bottom: 0px;
}

.blog-title {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.8em;
    overflow: hidden;
    -webkit-transition: color .15s ease-in-out;
    transition: color .15s ease-in-out;
}

.blog-title a {
    color: #46484d;
}

.blog-content p {
    font-size: 15px;
    line-height: 2;
}

.color-second {
    color: var(--color-second) !important;
}

.bg-second {
    background-color: var(--color-second) !important;
    border-color: var(--color-second);
}

.page-breadcrumb ol li a {
    color: #1e1e1e;
    font-size: 16px;
}

.page-breadcrumb ol li.active {
    color: #1e1e1e;
    font-size: 16px;
}

.page-breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    color: var(--color-second);
    font-size: 10px;
}

.breadcrumb-bar .breadcrumb-title {
    color: #515151;
    font-size: 22px;
    font-weight: 700;
    margin: 5px 0 0;
}


/*
    Category widget
*/

.category-widget .categories li {
    margin-bottom: 5px;
    background: white;
    border-radius: 5px;
    overflow: hidden;
}

.category-widget .categories li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.category-widget .categories li a span {
    float: left;
    color: #757575;
    padding: 20px 0 20px 20px;
}

.cat-img {
    width: 100px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
    -moz-transition: all 2000ms cubic-bezier(.19, 1, .22, 1) 0ms;
    -ms-transition: all 2000ms cubic-bezier(.19, 1, .22, 1) 0ms;
    -o-transition: all 2000ms cubic-bezier(.19, 1, .22, 1) 0ms;
    -webkit-transition: all 2000ms cubic-bezier(.19, 1, .22, 1) 0ms;
    transition: all 2000ms cubic-bezier(.19, 1, .22, 1) 0ms;
    box-shadow: -13px 0 rgba(210, 210, 210, 0.2), -23px 0 rgba(225, 225, 225, 0.1);
    border-radius: 0px 0 0 70px;
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    z-index: 1;
}

.cat-detail {
    /* padding-bottom: 20px; */
    padding: 20px;
}

.category-widget .categories li:hover img {
    -webkit-transform: skewX(-10deg) scale(1.15);
    -moz-transform: skewX(-10deg) scale(1.15);
    transform: skewX(-10deg) scale(1.15);
}


/*
    Telegram widget
*/

.masonry-item {
    float: right;
    padding: 20px;
    -webkit-transition-timing-function: cubic-bezier(.38, 0, .15, 1);
    transition-timing-function: cubic-bezier(.38, 0, .15, 1);
}

.blog-single-social-box {
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, .07);
    box-shadow: 0 5px 20px rgba(0, 0, 0, .07);
    top: 0;
    -webkit-transition: top .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-transition: top .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: top .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: top .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: top .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.blog-single-social-box-icon {
    min-width: 105px;
    width: 105px;
    position: relative;
    height: 90px;
    margin-left: 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.blog-single-social-box-telegram .blog-single-social-box-icon::before {
    -webkit-box-shadow: -13px 0 rgba(94, 186, 232, .2), -23px 0 rgba(94, 186, 232, .1);
    box-shadow: -13px 0 rgba(94, 186, 232, .2), -23px 0 rgba(94, 186, 232, .1);
    background: #5ebae8;
}

.blog-single-social-box-icon::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px 0 0 10px;
    -webkit-transform: skewX(-10deg);
    transform: skewX(-10deg);
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    z-index: 1;
}

.blog-single-social-box-telegram .blog-single-social-box-icon svg {
    height: 48px;
    margin-left: 10px;
    z-index: 1;
}

.blog-single-social-box-text {
    font-size: 15px;
    color: #949494;
    font-weight: 500;
    line-height: 1.7;
}

.blog-single-social-box-telegram .blog-single-social-box-text b {
    color: #5ebae8;
}

.blog-single-social-box-telegram::after {
    color: #5ebae8;
    background: rgba(94, 186, 232, .15);
}

.blog-single-social-box-telegram::after {
    color: #5ebae8;
    background: rgba(94, 186, 232, .15);
}

.blog-single-social-box::after {
    height: 38px;
    width: 38px;
    text-align: center;
    border-radius: 100%;
    left: 24px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    line-height: 36px;
    position: absolute;
    font-size: 24px;
    padding-right: 1px;
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    font-size: 13px;
}

.blog-single-social-box-icon svg {
    fill: #fff;
}

.social-share>li {
    text-align: right !important;
}

.social-share>li>a.active {
    background-color: #ffffff;
    color: #20c0f3;
    border-color: #ffffff;
}


/*
    Instagram widget
*/

.blog-single-social-box-instagram .blog-single-social-box-icon::before {
    -webkit-box-shadow: -13px 0 rgba(254, 114, 103, .2), -23px 0 rgba(254, 114, 103, .1);
    box-shadow: -13px 0 rgba(254, 114, 103, .2), -23px 0 rgba(254, 114, 103, .1);
    background: #f76290;
    background: linear-gradient(295deg, #f76290 0%, #fe7464 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#f76290", endColorstr="#fe7464", GradientType=1);
}

.blog-single-social-box-instagram .blog-single-social-box-text b {
    color: #fb6c78;
}

.blog-single-social-box-instagram::after {
    color: #fb6c78;
    background: rgba(251, 108, 120, .15);
}

.blog-single-social-box-instagram .blog-single-social-box-icon svg {
    height: 52px;
    margin-left: 12px;
}

.blog-single-social-box-icon svg {
    position: relative;
    z-index: 2;
    fill: #fff;
    margin-top: 2px;
}

.blog-cat-box {
    background-color: #fff;
    background-image: url(/assets/garrin/img/indexbg2.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 5px 30px rgba(70, 72, 77, .08);
    box-shadow: 0 5px 30px rgba(70, 72, 77, .08);
    font-weight: 400;
    padding: 30px 13px 30px 30px;
    height: 645px;
}

.tag {
    border-radius: 40px;
    color: #272b41;
    font-size: 17px;
    border: 0;
    background: #eee;
    padding: 8px 15px;
}

.tag:hover {
    background-color: var(--color-second);
    ;
    border-color: var(--color-second);
    ;
    color: #fff;
}

.link-list {
    list-style: arabic-indic;
}

.link-list .link {
    color: #25c0e3;
    font-weight: 800;
}

.link-list li {
    color: var(--color-second);
}

html {
    scroll-behavior: smooth;
}


/*
    paginate
*/

.blog-pagination .pagination li a {
    padding: 10px 16px;
    font-weight: 600;
    color: #2E3842;
    margin-right: 10px;
    border-radius: inherit !important;
    border-color: #f0f0f0;
    border-radius: 3px !important;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .07);
    border: 0px;
    font-size: .9rem;
    font-weight: 400;
}

.blog-pagination .pagination li.active a {
    background: var(--color-second);
}


/*
    Newsletter widget
*/

.newsletter-holder {
    background-image: linear-gradient(30deg, #523d6d 0, #7c659f 100%);
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
}

.newsletter-holder::before {
    background-image: url(/assets/garrin/img/newsletter-pattern.png);
    bottom: 0;
    content: '' !important;
    display: block !important;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.wrapper {
    margin: 0 auto;
    max-width: 1250px;
    padding: 0 25px;
}

.newsletter-inner {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.newsletter-title {
    font-size: 28px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 5px;
}

.newsletter-text {
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
}

.kt-newsletter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.newsletter-holder .kt-newsletter-email {
    background: rgba(255, 255, 255, .12);
    color: #e1e1e1;
    margin-left: 15px;
    border: 0;
}

.newsletter-holder .button {
    background: #765f98;
    width: 180px;
    min-width: 180px;
    max-width: 180px;
    padding: 13px 15px;
}

.kt-ajax-button {
    position: relative;
}

.kt-ajax-button::after {
    animation: ajaxLoading .8s linear infinite;
    -webkit-animation: ajaxLoading .8s linear infinite;
    bottom: 0;
    content: '\f021';
    display: block;
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
    height: 1em;
    left: 0;
    line-height: 1em;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 1em;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    opacity: 0;
    color: #fff;
}


/*
    Blog Single
*/

.post-show-top-widget {
    padding: 15px 0;
    /* background-image: linear-gradient(119deg, #065482, #00c395); */
    /* background-image: linear-gradient(295deg, #f76290 0%, #fe7464 100%); */
    /* background-color: #00c395;
     */
    position: relative;
    height: 140px;
    color: #444;
    position: relative;
}

.post-show-top-widget-box {
    justify-content: center;
    justify-self: center;
    background: #fff;
    padding: 15px;
    border-radius: 45px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .09);
    max-width: 900px;
    z-index: 3;
}

@media (max-width: 992px) {
    .post-show-top-widget-box {
        max-width: 700px;
    }
}

@media (max-width: 768px) {
    .post-show-top-widget-box {
        max-width: 500px;
    }
}

@media (max-width: 576px) {
    .post-show-top-widget-box {
        max-width: 296px;
        padding: 13px;
    }
}

.top-rounded-box {
    height: 40px;
    background: #fff;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin-top: -35px;
    position: relative;
    z-index: 2;
}


/* .blog-single {
    padding-bottom: 80px;
} */

.blog-single-image-holder {
    padding-top: 10px;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

.blog-single-image-holder::before {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f8f8f8), color-stop(70%, #fff), to(#fff));
    background-image: linear-gradient(180deg, #f8f8f8 0, #fff 70%, #fff 100%);
    content: '' !important;
    display: block !important;
    height: 100%;
    left: 0;
    position: absolute;
    top: 60%;
    -webkit-transform: skew(0deg, -3deg);
    transform: skew(0deg, -3deg);
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    width: 100%;
    z-index: -1;
}

.blog-single-image-holder img {
    border-radius: 3px;
    display: block;
    margin: 0 auto;
    max-width: 950px;
    width: 100%;
}

.blog-single-top-holder {
    margin: 0 auto;
    max-width: 910px;
    padding: 60px 20px 35px;
}

.blog-single-categories-holder {
    margin-bottom: 2px;
    font-size: 0;
}

i.blog-item-popular,
i.blog-item-suggested {
    display: inline;
    font-size: 16px;
    line-height: 1em;
    vertical-align: middle;
    padding: 0 5px;
}

.blog-single-categories {
    display: inline;
    padding-right: 15px;
    font-size: 16px;
    font-weight: 400;
    display: block;
    color: #757575;
}

.blog-single-categories a {
    color: #757575;
    font-weight: 800;
}

.blog-single-categories a:hover {
    color: #f58;
}

.blog-single-title {
    font-weight: 500;
    margin-bottom: 15px;
}

.blog-content p {
    font-size: 17px;
    line-height: 2;
    color: black;
    font-weight: 500;
}

.blog-single-title {
    font-weight: 1000;
    margin-bottom: 15px;
    font-size: 2rem;
}

.blog {
    border: 0px;
}

.section-title {
    font-size: 18px;
    font-weight: 800;
    padding: 10px;
}

.bottom-dashed-border {
    color: var(--color-second);
    border-bottom: 2px dashed !important;
    width: max-content;
}

.social-share>li>a {
    border: 0px;
    color: #dcdcdc;
    display: inline-block;
    font-size: 28px;
    height: 50px;
    line-height: 56px;
    width: 40px;
    display: contents;
}

.social-share {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
}

.social-value {
    font-size: 20px;
    padding: 0 10px;
}

@media (max-width: 768px) {
    .social-share {
        display: none;
    }
    .social-share.fixed {
        float: none;
        width: 100%;
        justify-content: space-between;
        position: fixed;
        display: flex;
        background: #f2f2f2;
        padding: 10px 10px;
        border-radius: 0;
        bottom: 0;
        z-index: 1000;
        margin: auto;
        right: 0;
        left: 0;
    }
    .social-value {
        display: none;
    }
}

@media (max-width: 768px) {
    .author-details {
        margin-left: 0;
    }
}

.blog-single-content-holder {
    margin: 0 auto;
    max-width: 910px;
    padding-right: 20px;
    padding-left: 20px;
}

.social-share>li>a:hover {
    background-color: #ffffff;
    color: #20c0f3;
    border-color: #ffffff;
}

.blog-author-name {
    font-size: 18px;
}

.about-author-img {
    background-color: #fff;
    height: 100px;
    overflow: inherit !important;
    position: absolute;
    width: 100px;
}

.author-img-wrap a img.rounded-circle {
    box-shadow: 0 7px 50px rgba(252, 223, 230, .7);
}

.post-show-top-widget-box .form-control {
    border: none;
    background: #f9f9f9;
}


/*
    Comment
*/

.blog-comments .comment-btn {
    color: var(--color-second);
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
}

.comments-list .comment-block p {
    font-size: 14px;
    margin-bottom: 5px;
    line-height: 2;
    font-size: 16px;
}

.comment-create-box {
    background: #f9f9f9;
    background-color: #efe8f0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(230,683,333)'%3E%3Cstop offset='0' stop-color='%23efe8f0'/%3E%3Cstop offset='1' stop-color='%23c7a7cb'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='317' height='264.2' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.01'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.new-comment .form-control {
    background-color: #ffffff82;
    border: none;
}

.blog-comments .comments-list li .comment {
    margin-bottom: 20px;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 3px;
}

.blog-single-comments {
    margin: 0 auto;
    max-width: 910px;
    padding: 80px 20px 50px;
}

.blog-goto-comments {
    padding: 25px;
    background: #f7f7f7;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    margin-top: 30px;
}

.blog-goto-comments::before {
    content: "\f086";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: -30px;
    right: -21px;
    font-size: 160px;
    line-height: 1;
    color: rgba(0, 0, 0, .035);
}

.blog-goto-comments span {
    display: block;
    float: right;
    margin-top: 4px;
    font-weight: 400;
    color: #7f8187;
}

.blog-goto-comments .button {
    color: #fff;
    float: left;
}

.comment.active {
    box-shadow: 0 4px 19px 0 rgb(203, 173, 207);
}

.comment-reply-holder {
    background: #eeeeeeb5;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

.comment-reply {
    padding: 5px;
    background: #ffffffb3;
    border-radius: 5px;
    margin-top: 10px;
}

.comment-reply-title {
    font-weight: 700;
}

.comment-reply-close {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #f58;
    cursor: pointer;
}

.no-comments {
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    color: #7b7b7b;
}

.create-comment-spiner-holder {
    background-color: rgba(255, 255, 255, 0.788);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

@media (max-width: 576px) {
    .comment-by {
        padding-right: 50px;
        padding-top: 10px;
    }
    .blog-comments .comments-list li .comment-author {
        right: 10px;
    }
}

.blog-progress-head {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    /* background-color: #f1f1f1; */
}

.blog-progress-head .progress-container {
    width: 100%;
    height: 3px;
    /* background: #ccc; */
}


/* The progress bar (scroll indicator) */

.blog-progress-head .progress-bar {
    height: 3px;
    background: var(--color-second);
    width: 0%;
}

div.sticky {
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
}


/* Footer */

.box-shadow {
    box-shadow: 0 -7px 20px 0 rgba(0, 0, 0, .05);
}

.border-button {
    border-bottom: 1px solid #f2f2f2;
}

.footer .footer-top {
    padding: 40px 0;
    background-color: #fff;
}

.footer .footer-widget .footer-about-content p {
    color: #515151;
}

.footer-title {
    color: #757575;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.footer .footer-menu ul li a {
    color: #595959;
    font-size: 15px;
    padding-right: 20px;
    position: relative;
    transition: all 0.4s ease 0s;
}

.footer-contact-info {
    color: #595959;
    font-size: 15px;
}

.footer .footer-bottom .copyright {
    border-top: 0;
    /* padding: 30px 0; */
    background: #fff;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 -7px 20px 0 rgba(0, 0, 0, .05);
}


/* .policy-menu li a {
    color: #595959;
} */

.footer .footer-bottom .copyright-text p {
    /* color: #6a6a6a; */
    font-size: 15px;
}


/*
    Header
*/

.main-nav li a {
    display: block;
    font-size: 16px;
    font-weight: 800;
    /* color: #606060 !important; */
}


/*
    Button
*/

.button.button-light,
button.button-light,
input[type="submit"].button-light {
    background: #f0f2f7;
    color: #7f8187;
}

.button.button-light.active,
.button.button-light:hover,
button.button-light.active,
button.button-light:hover,
input[type="submit"].button-light.active,
input[type="submit"].button-light:hover {
    background: #e3e6f0;
    color: #64656a;
}

.button.button-default,
button.button-default,
input[type="submit"].button-default {
    background: #f58;
}

.button.button-success,
button.button-success,
input[type="submit"].button-default {
    background: rgb(61, 202, 56);
}

.button.button-info,
button.button-info,
input[type="submit"].button-default {
    background: rgb(29, 201, 219);
}

.button,
button,
input[type="submit"] {
    border: 0;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    line-height: 1.6em;
    padding: 13px 25px 11px;
    font-weight: 600;
    width: auto;
    -webkit-transition: background .2s ease-in-out, color .2s ease-in-out, border .2s ease-in-out;
    transition: background .2s ease-in-out, color .2s ease-in-out, border .2s ease-in-out;
}

.button-chat {
    padding: 3px 5px;
    background: #e7e7e7;
}


/*
 doctor profile
*/

.doctor-widget-holder {
    background-position-y: bottom;
    background-position-x: left;
}

.doctor-widget .doc-name {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
}

.doc-speciality {
    font-size: 18px;
    color: #757575;
    margin-bottom: 15px;
}

.doc-info-right {
    position: relative;
}

.clinic-booking {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.rating {
    text-align: center;
    margin-bottom: 50px;
}

.doctor-widget .rating i {
    font-size: 30px;
}

.doctor-widget .average-rating {
    font-size: 14px;
    font-weight: 500;
    padding-top: 5px;
    width: 100%;
}

.card-rating {
    width: 100px;
    margin: auto;
    margin-bottom: 13px;
}

.card-rating .num p {
    font-size: 30px;
    font-weight: 1000;
}

.clini-infos ul li span.value {
    color: black;
    font-weight: 800;
}

.clinic-booking a.apt-btn {
    border: none;
    font-size: 17px;
    font-weight: 700;
    background: linear-gradient(119deg, #0dddde, #11e9c5) !important;
}

.comment-avatar {
    margin-top: -20px;
    margin-right: -20px;
}

.review-listing {
    margin-top: 0 !important;
}

.experience-list::before {
    right: 9px !important;
}

.before-circle {
    background-color: var(--color-3);
    border: var(--color-3);
}

.user-tabs .nav-tabs.nav-tabs-bottom>li>a.active,
.user-tabs .nav-tabs.nav-tabs-bottom>li>a.active:hover,
.user-tabs .nav-tabs.nav-tabs-bottom>li>a.active:focus {
    border-bottom-width: 3px;
    color: var(--color-3);
}

.nav-tabs.nav-tabs-bottom>li>a.active,
.nav-tabs.nav-tabs-bottom>li>a.active:hover,
.nav-tabs.nav-tabs-bottom>li>a.active:focus {
    border-bottom-color: var(--color-3);
}

.user-tabs .nav-tabs>li>a:hover {
    background-color: unset;
    color: var(--color-3);
}

@media (max-width: 768px) {
    .nav-tabs {
        border-bottom: 0;
        position: relative;
        background-color: #fff;
        padding: 5px;
        border: 0px;
        border-radius: 20px;
        overflow: hidden;
    }
    .user-tabs .nav-tabs.nav-tabs-bottom>li>a.active {
        border-radius: 20px;
        border: none;
    }
    .nav-tabs.nav-justified {
        border-bottom: 0px;
        box-shadow: 0 10px 40px 0 rgba(0, 0, 0, .09);
    }
}

.service-list ul li::before {
    content: '\f30a' !important;
    font-family: "Font Awesome 5 Free";
}

.search-box form {
    justify-content: center;
}

.header_logo {
    display: block;
    margin: auto;
}

@media (max-width: 992px) {
    .header_logo {
        margin-top: 0;
    }
}

.btn-setting i {
    /* background: #ffc107; */
    padding: 0px;
}

.home-widget .img-frame-02 {
    width: 120px;
    border-radius: 0px 0 0 70px;
}

.home-widget .doctor-widget .doc-name {
    font-size: 20px;
}

.home-widget.doctor-widget-holder {
    background-position-x: right !important;
}

.section-header h2 {
    font-weight: 800;
    font-size: 25px;
}

.home-widget .apt-btn {
    border: 1px solid #ef394e;
    padding: 5px 10px;
    color: #ffffff;
    margin: auto;
    display: block;
    text-align: center;
    border-radius: 20px;
    background: #fb2941;
    box-shadow: 4px 5px 0px 0 rgb(0 0 0 / 9%);
}

.section-specialities {
    position: relative;
}

.section-specialities::before {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f8f8f8), color-stop(70%, #fff), to(#fff));
    background-image: linear-gradient( 180deg, #f8f8f8 0, #fff 70%, #fff 100%);
    content: '' !important;
    display: block !important;
    height: 100%;
    left: 0;
    position: absolute;
    top: 60%;
    -webkit-transform: skew( 0deg, -3deg);
    transform: skew( 0deg, -3deg);
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    width: 100%;
    /* z-index: -1; */
}

.speicality-img img {
    width: 60%;
}

.view-all .btn {
    margin-top: 0 im !important;
}

.justify-between {
    justify-content: space-between;
}

.d-flex {
    display: flex;
}

.btn-more {
    margin: 0;
    color: white;
    background: var(--color-second) !important;
    padding: 5px 10px !important;
    border-radius: 20px;
    font-size: 13px !important;
}

.section-header h2 {
    line-height: 2;
}

.section-header h2 i {
    color: #0de0fe;
}

.home-tile-section::before {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f8f8f8), color-stop(70%, #fff), to(#fff));
    background-image: linear-gradient( 180deg, #f8f8f8 0, #fff 70%, #fff 100%);
    content: '' !important;
    display: block !important;
    height: 100%;
    left: 0;
    position: absolute;
    /* top: 60%; */
    -webkit-transform: skew( 0deg, -3deg);
    transform: skew( 0deg, -3deg);
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    width: 100%;
}

.section-specialities {
    padding: 20px 0 !important;
}

.speicality-img {
    box-shadow: none !important;
}

.info-services img {
    width: 80px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.info-services .text-holder {
    padding: 0 10px;
}

.doctor-slider .card {
    box-shadow: 2px 4px 13px 0 rgb(0 0 0 / 9%) !important;
}

.section-banner-01 .banner-holder h2,
.section-banner-01 .banner-holder p {
    color: white !important;
}

.section-header .sub-title {
    max-width: initial !important;
}

.section-banner-01 .section-header {
    padding: 40px;
    padding-bottom: 0;
}

.section-banner-01 img {
    width: 100%;
}

.section-search {
    background: #f9f9f9 url(/uploads/images/themes/garrin/indexbg2-2.png) no-repeat right top;
    padding-bottom: 0 !important;
}

.section-search .banner-wrapper {
    padding-top: 75px;
}

.header-nav {
    border-bottom: none;
}

.static-show .dark-gradient {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    background: -webkit-linear-gradient(transparent, rgba(0, 0, 0, .7));
    background: -o-linear-gradient(transparent, rgba(0, 0, 0, .7));
    background: -moz-linear-gradient(transparent, rgba(0, 0, 0, .7));
    background: linear-gradient(transparent, rgba(0, 0, 0, .7));
    width: 100%;
    height: 50%;
}

.static-show .blog-title {
    color: white;
}

.static-show .blog-content {
    background: initial;
    position: absolute;
    bottom: 0;
    color: white;
    z-index: 6;
}

.static-show.card {
    border-radius: 0;
}

.home-comment-rating {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

@media only screen and (max-width: 400px) {
    .home-comment-rating {
        display: block;
        text-align: center;
    }
    .home-comment-rating .rating {
        margin-top: 15px;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 899px) {
    .home-comment-rating {
        display: block;
        text-align: center;
    }
    .home-comment-rating .rating {
        margin-top: 15px;
    }
}

.home-comment-rating .rating {
    width: auto;
    margin-bottom: 10px;
}

.section-header.section-comment-header::before {
    content: "\f086";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: -6px;
    right: 40%;
    font-size: 111px;
    line-height: 1;
    color: rgba(0, 0, 0, .035);
    left: 0;
}

.section-header.section-comment-header h2 {
    margin: auto;
}

.home-section-comments {
    background-position: bottom;
    background-color: #f8f9fa;
    padding: 20px 0;
    font-size: 13px;
}

.comment-slider .slide-holder {
    padding: 10px;
}

.comment-slider .card {
    box-shadow: 4px 5px 0px 0 rgb(0 0 0 / 9%) !important;
}

.comment-slider .comment-text {
    font-size: 14px;
}

.btn-cosulotion {
    padding: 10px 20px;
    color: #f70e0e;
    background: #ffffff;
    border-radius: 25px;
    margin-top: 25px;
    display: block;
    width: max-content;
    box-shadow: 4px 5px 0px 0 rgb(0 0 0 / 9%)
}

img.img-fluid.img-kashi-left {
    height: 200px;
}

img.img-fluid.img-kashi-right {
    height: 430px;
}

.info-services {
    display: flex;
}

@media (max-width: 992px) {
    .info-services {
        display: grid;
    }
    .info-services .text-holder {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .info-services {
        display: flex;
    }
    .info-services .text-holder {
        text-align: right;
    }
}

.footer-logo {
    width: 150px;
    margin: auto;
    display: block;
}

.login-holder {
    border: 0px solid #ccc;
    box-shadow: 0 10px 40px 0 rgb(0 0 0 / 9%);
    /* background-color: #f1eaf596; */
    background-position: right;
    /* background-color: #f8f9fa; */
}

.login-holder input {
    border: 1px solid #efefef;
    /* box-shadow: 1px 2px 4px rgb(0 0 0 / 8%); */
}

.login-left img {
    max-width: 260px;
    margin: auto;
    display: block;
}

.section-banner-01 .banner-holder {
    /* background: linear-gradient( 119deg, #065482, #00bac3) !important; */
    /* background-color: #ed174b; */
    background-color: #00bac3;
    color: white;
    border-radius: 20px;
    overflow: hidden;
    background-position-y: bottom;
}

.btn-accept {
    background-color: #fb2941;
    border: 1px solid #fb2941;
    color: white;
}

.btn-accept:hover {
    background-color: #ee283f;
    color: white;
}

.search-info .btn-accept {
    line-height: 2;
}

.fa-cog.loading {
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.lity {
    background: rgb(0 0 0 / 40%) !important;
}

.lity-iframe-container iframe {
    background: #f1f4f8 !important;
}

.lity-iframe .lity-container,
.lity-youtube .lity-container,
.lity-vimeo .lity-container,
.lity-facebookvideo .lity-container,
.lity-googlemaps .lity-container {
    width: 100%;
    max-width: 600px;
}

.lity-iframe-container {
    height: 100%;
}

.lity-content {
    height: 600px;
}

.footer .footer-widget.footer-menu ul li a:hover {
    color: rgb(29, 201, 219) !important;
}

.footer-about-content .social-icon ul {
    margin: auto;
    display: flex;
    margin-top: 20px;
    width: max-content;
}

.footer .social-icon ul li a {
    color: rgb(29, 201, 219);
}

a:hover {
    color: rgb(29, 201, 219);
}

.footer .footer-menu ul li a::before {
    content: "\f104" !important;
}

.copyright-text p {
    margin: 0 !important;
}

.footer-top.bg-cover-08 {
    background-position: bottom left;
    padding-bottom: 80px;
}

.footer-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.footer {
    background-color: inherit !important;
    position: relative;
}

.blog-single-content .accordions {
    margin-bottom: 40px;
}

.blog-compare-box-lists.kt-row ul li:last-child,
.blog-compare-box-text p:last-child,
.blog-single-content .accordions .accordion:last-child {
    margin-bottom: 0;
}

.accordions .accordion:last-child {
    border-bottom: 0!important;
}

li,
ol,
ul {
    list-style: none;
}

.blog-single-content .accordion .accordion-content-inner>ul>li>a {
    font-size: 15px;
    font-weight: 600;
}

.blog-single-content .accordion {
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 15px rgb(0 0 0 / 8%);
    box-shadow: 0 2px 15px rgb(0 0 0 / 8%);
    margin-bottom: 10px;
    padding: 0;
    border: 0;
    background-color: #fff;
}

.blog-single-content .accordion .accordion-title {
    padding: 25px 30px;
}

.accordion-title {
    cursor: pointer;
    /* font-size: 0; */
    position: relative;
    white-space: nowrap;
}


/* .blog-single-content .accordion .accordion-title:before {
    content: "\f00b";
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    line-height: 1;
    display: inline-block;
    color: #b7b7b7;
    margin-left: 14px;
} */

.blog-single-content .accordion .accordion-title i {
    margin-left: 10px;
    color: #7d7d7d;
}

.blog-single-content .accordion .accordion-title .accordion-title-inner {
    font-weight: 800;
}

.accordion-content {
    height: 0;
    overflow: hidden;
    -webkit-transition: height .5s cubic-bezier(.68, .01, .31, .93);
    transition: height .5s cubic-bezier(.68, .01, .31, .93);
}

.blog-single-headings-list.active .accordion-content {
    height: max-content;
    -webkit-transition: height .5s cubic-bezier(.68, .01, .31, .93);
    transition: height .5s cubic-bezier(.68, .01, .31, .93);
}

.accordion-title .accordion-title-inner {
    color: #46484d;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    max-width: 92%;
    padding-left: 2.5em;
    /* vertical-align: middle; */
    white-space: normal;
    -webkit-transition: color .35s cubic-bezier(.68, .01, .31, .93);
    transition: color .35s cubic-bezier(.68, .01, .31, .93);
}

.blog-single-content .accordion .accordion-title .accordion-title-inner:before {
    background: #f0f0f0;
    width: 34px;
    height: 34px;
    line-height: 34px;
    border-radius: 100%;
    left: 25px;
    padding-right: 2px;
    font-size: 1.1em;
    background: rgba(124, 204, 119, .15);
    color: #7ccc77!important;
    -webkit-transform: rotate( -90deg);
    transform: rotate( -90deg);
}

.accordion-title .accordion-title-inner:before {
    bottom: 0;
    color: inherit!important;
    content: '\f104';
    font-family: "Font Awesome 5 Free";
    font-size: 1.2em;
    font-style: normal!important;
    /* font-weight: 400!important; */
    height: 1em;
    left: 0;
    letter-spacing: 0!important;
    line-height: 1em;
    margin: auto 0;
    position: absolute;
    text-align: center;
    text-transform: none!important;
    top: 0;
    width: 1em;
    -webkit-transition: transform .35s cubic-bezier(.68, .01, .31, .93);
    -webkit-transition: -webkit-transform .35s cubic-bezier(.68, .01, .31, .93);
    transition: -webkit-transform .35s cubic-bezier(.68, .01, .31, .93);
    transition: transform .35s cubic-bezier(.68, .01, .31, .93);
    transition: transform .35s cubic-bezier(.68, .01, .31, .93), -webkit-transform .35s cubic-bezier(.68, .01, .31, .93);
}

.blog-single-content .accordion .accordion-title.active .accordion-title-inner:before {
    color: #7ccc77!important;
    -webkit-transform: rotate( 90deg);
    transform: rotate( 90deg);
}

.blog-single-content .accordion .accordion-content-inner {
    padding: 25px 30px;
    border-top: 1px solid #ededed;
    margin-top: 0;
}

.accordion-content-inner {
    font-size: 15px;
    margin-top: 20px;
}

.blog-single-headings-list .accordion-content-inner>ul>li {
    padding-bottom: 12px;
}

.blog-single-content .accordion .accordion-content-inner a {
    color: #7f8187;
}

.blog-single-headings-list .accordion-content-inner>ul>li ul {
    padding-right: 20px;
    padding-bottom: 2px;
    padding-top: 10px;
}

.blog-single-headings-list .accordion-content-inner>ul>li ul li {
    padding-bottom: 4px;
    font-size: 14px;
}