.dataTables_filter {
    float: left;
}

.container-repeatable-elements .delete-element {
    left: 6px;
    margin-left: 0px !important;
}

span.bg-warning {
    background-color: #FFF4E1 !important;
    color: #FFAD15;
}

.text-warning {
    color: #ca8e29 !important;
}

.help-block {
    background: #f3f4fa;
    margin-top: 15px !important;
    padding: 12px 15px;
    color: #7286a9;
    border-radius: 4px;
    clear: both !important;
    display: inline-block;
}

.form-group {
    margin-bottom: 2rem;
}

.btn-success {
    color: #fff;
    background: #8BC34A linear-gradient(180deg, #8BC34A 80%, #7eb73d 100%) repeat-x !important;
    box-shadow: 0 5px 15px rgba(139, 195, 74, 0.25) !important;
    border-color: #7eb73d !important;
}

span.bg-success {
    background-color: #EDF9E5 !important;
    color: #53ad54;
}

span.bg-danger {
    background-color: #FFEFEF !important;
    color: #de4242;
}

.form-check-label {
    padding-right: 25px;
;
}

.img-radius-5 {
    border-radius: 5px;
}

#bp-filters-navbar {
    margin-bottom: 8px;
}

.center {
    margin: auto;
    display: block;
    width: fit-content;
}

.ltr {
    direction: ltr !important;
}

.ltr.cropperImage .btn-group {
    display: flex;
    width: fit-content;
    margin: auto;
}

.btn-primary {
    background: #4dc5ff linear-gradient(180deg, #5ac8fd 80%, #3eb6e4 100%) repeat-x !important;
    box-shadow: 0 5px 15px rgba(99, 146, 242, 0.25) !important;
    border-color: #4bbbf0 !important;
}

.btn-xs,
.btn-group-xs>.btn {
    padding: 4px 10px !important;
    font-size: 14px;
}

.text-gray-light {
    color: #848484;
}

:root {
    --main: #088ff5;
    --link: #088ff5;
    --gray-dark: #676767;
    /* --main: #bd13a0; */
    /* --main: #ff1949; */
}

.sidebar.sidebar-pills .nav-link.active,
.sidebar.sidebar-pills .nav-link:hover {
    color: var(--main)!important;
}

.sidebar.sidebar-pills .nav-link.active .nav-icon,
.sidebar.sidebar-pills .nav-link:hover .nav-icon {
    color: var(--main);
}

.sidebar-pills .nav-link.active,
.sidebar-pills .nav-link:hover,
.sidebar-pills .nav-link:hover .nav-icon {
    color: var(--main) !important;
}

a {
    color: var(--link);
}

a:hover {
    color: var(--main);
}

.page-item.active .page-link {
    color: #fff;
    background-color: var(--main);
    border-color: var(--main);
}

.page-link:hover {
    color: var(--main);
    text-decoration: none;
    background-color: #f1f4f8;
    border-color: #d9e2ef;
}

.btn-link {
    color: var(--link) !important;
}

.btn-link:hover {
    color: var(--gray-dark) !important;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    background-color: #ffc107;
}


/* .btn-outline-primary {
color: #8BC34A;
border-color: #8BC34A;
}

.btn-outline-primary:hover {
color: #fff;
background: #8BC34A linear-gradient(180deg, #8BC34A 80%, #7eb73d 100%) repeat-x !important;
box-shadow: 0 5px 15px rgba(139, 195, 74, 0.25) !important;
border-color: #7eb73d !important;
} */

.btn-outline-primary {
    color: #ffc107;
    border-color: #ffc107;
}

.btn-outline-primary:hover {
    color: #fff;
    background: #ffc107 linear-gradient(180deg, #ffc107 80%, #eab106 100%) repeat-x !important;
    box-shadow: 0 5px 15px rgba(139, 195, 74, 0.25) !important;
    border-color: #f3b704 !important;
}

.btn-danger {
    color: #fff;
    background: #fb4646 linear-gradient(180deg, #fb4a4a 80%, #dc2828 100%) repeat-x !important;
    box-shadow: 0 5px 15px rgba(99, 146, 242, 0.25) !important;
    border-color: #d42d2d !important;
}

.btn-warning {
    color: #fff;
    background: #ffc107 linear-gradient(180deg, #ffc107 80%, #eab106 100%) repeat-x !important;
    box-shadow: 0 5px 15px rgba(139, 195, 74, 0.25) !important;
    border-color: #f3b704 !important;
}

.sidebar {
    border-radius: 30px 0 0 30px;
    overflow: hidden;
    padding-top: 20px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    margin-bottom: 20px;
    margin-top: 10px;
    background: #ffffff !important;
}

.sidebar .nav {
    width: 215px;
}

.sidebar .sidebar-nav,
.sidebar .sidebar-scroll {
    width: 215px;
}

.sidebar {
    border-left: solid 1px #e7eaee;
}

html[dir=rtl] .sidebar {
    margin-right: -225px;
}

.navbar-toggler.sidebar-toggler {
    z-index: 1025;
}

@media (max-width: 540px) {
    .app-header.bg-light .navbar-brand {
        justify-content: center;
    }
}

ol.sortable,
ol.sortable ol {
    margin: 0 25px 0 0 !important;
    padding: 0;
    list-style-type: none;
}

.bg-blue-xp {
    background-color: #f5f9fc !important;
}

.app-header.bg-blue-xp .navbar-brand {
    color: #6c7780 !important;
    width: 225px !important;
}

@media (min-width: 991.98px) {
    .app-header.bg-blue-xp .navbar-brand {
        background-color: #f5f9fc !important;
    }
}

.dataTables_wrapper .dataTables_filter input,
.dataTables_wrapper .dataTables_length select,
.form-control {
    border: 1px solid #d6d6d6 !important;
}

.input-group-text {
    border: 1px solid #d6d6d6 !important;
}

#saveActions {
    position: fixed;
    bottom: 0;
    padding-right: 15px;
    transition: right .25s, bottom 0.25s;
    right: 0;
    left: 0;
    background: #f5f9fc;
    padding: 15px;
    margin-bottom: 0;
    border-top: 1px solid #e4e4e4;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
}

.btn-group, .btn-group-vertical {
    margin-left: 10px;
}

@media (min-width: 992px) {
    .sidebar-lg-show #saveActions {
        right: 0;
        transition: right .25s, bottom 0.25s;
    }
}

.formeo.formeo-editor .formeo-field .prev-label {
    margin-right: 24px;
}

.formeo-field {
    direction: rtl;
}

.formeo .panels {
    direction: ltr !important;
}

.formeo.formeo-editor .editing-field {
    background-color: #f1f4f8 !important;
}

.formeo.formeo-editor .editing-field,
.formeo.formeo-editor .hovering-field {
    box-shadow: inset 0 0 0 1px #e7eaee !important;
    background: #f3f4fa !important;
}

.tabbed-panels .panel-labels h5 {
    box-shadow: none !important;
}

.tabbed-panels .panel-labels h5.active-tab {
    color: #676767 !important;
    box-shadow: none;
    background-color: #fff !important;
}

.field-control,
.formeo-controls .field-control {
    /* border: 1px solid #e7eaee !important; */
    color: #fff;
    background: #ffc107 linear-gradient(180deg, #eceff3 80%, #e2e7ef 100%) repeat-x !important;
    border-color: #e2e5e9 !important;
}

.formeo.formeo-editor .formeo-row {
    box-shadow: inset 0 0 0 1px #e7eaee !important;
}

.formeo.formeo-editor .row-actions {
    border: 1px solid #e7eaee !important;
}

.tabbed-panels .panel-labels h5 {
    background-color: #f3f4fa !important;
}

.formeo button.prop-remove.prop-control {
    color: #fff;
    background: #fb4646 linear-gradient(180deg, #fb4a4a 80%, #dc2828 100%) repeat-x !important;
    box-shadow: 0 5px 15px rgba(99, 146, 242, 0.25) !important;
    border-color: #d42d2d !important;
}

.formeo button.prop-remove.prop-control .svg-icon {
    fill: #fff;
}

button[class*=-remove]:hover {
    color: #fff;
    background: #fb4646 linear-gradient(180deg, #fb4a4a 80%, #dc2828 100%) repeat-x !important;
    box-shadow: 0 5px 15px rgba(99, 146, 242, 0.25) !important;
    border-color: #d42d2d !important;
}

button[class*=-edit-toggle]:hover {
    background: #4dc5ff linear-gradient(180deg, #5ac8fd 80%, #3eb6e4 100%) repeat-x !important;
    box-shadow: 0 5px 15px rgba(99, 146, 242, 0.25) !important;
    border-color: #4bbbf0 !important;
    color: #fff !important;
}

button[class*=-edit-toggle]:hover .svg-icon {
    fill: #fff !important;
}

.formeo.formeo-editor .panel-action-buttons [class^=add-] {
    float: right;
    background: #4dc5ff linear-gradient(180deg, #5ac8fd 80%, #3eb6e4 100%) repeat-x !important;
    box-shadow: 0 5px 15px rgba(99, 146, 242, 0.25) !important;
    border-color: #4bbbf0 !important;
    color: #fff !important;
}

.formeo button.clear-form {
    color: #fff;
    background: #ffc107 linear-gradient(180deg, #ffc107 80%, #eab106 100%) repeat-x !important;
    box-shadow: 0 5px 15px rgba(139, 195, 74, 0.25) !important;
    border-color: #f3b704 !important;
}

.formeo-controls nav button {
    background: #f1f4f8 !important;
    border-color: #f1f4f8 !important;
}

.formeo-panels-wrap h5 {
    color: #3e3e3f !important;
    background: #f1f4f8 !important;
    font-size: 17px !important;
}

.formeo-controls .panel-labels {
    border-top: 0px !important;
    border-radius: 0 !important;
}

.formeo-field p,
.formeo-field h1,
.formeo-field h2 {
    text-align: right;
    margin-right: 24px;
    float: right;
}

.formeo.formeo-editor .formeo-stage {
    margin-right: 15px !important;
}

.formeo.formeo-editor .formeo-column.editing-column,
.formeo.formeo-editor .formeo-column.hovering-column {
    box-shadow: inset 0 0 0 1px #fec109 !important;
}

.formeo.formeo-editor .formeo-column.editing-column:before,
.formeo.formeo-editor .formeo-column.hovering-column:before {
    height: 23px;
    border-right: 1px solid #fec109 !important;
    border-left: 1px solid #fec109 !important;
    border-top: 1px solid #fec109 !important;
}

.formeo input[type=checkbox],
.formeo input[type=radio] {
    margin-left: 4px;
    margin-top: 5px;
}

.formeo .f-checkbox {
    display: flex;
}

img {
    max-width: 100%;
}


/* #crudTable thead>tr>th,
table.dataTable thead>tr>th {
    padding-left: 30px;
    padding: .75rem !important;
} */

.badge-text.badge-warning {
    color: #ffc107;
    background-color: #ffefbf;
}

.badge-text.badge-success {
    color: #42ba4a;
    background-color: #d9ffe1;
}

.badge-text.badge-danger {
    color: #c61d1d;
    background-color: #ffc1c1;
}

.dir-left input {
    direction: ltr !important;
}


/*PRELOADING------------ */

#overlayer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10000;
    background: #f1f4f8;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 30000;
    border: 4px solid #FBAB7E;
    top: 50%;
    animation: loader 2s infinite ease;
    left: 0;
    right: 0;
    margin: auto;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    /* background-color: #6faf29; */
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);    
    animation: loader-inner 2s infinite ease-in;
}

.h-100vh {
    overflow: hidden;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }
    25% {
        height: 0%;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}

.bg-warning.bg-shining {
    background-image: linear-gradient(180deg,#ffcf69,#f9c659);
    box-shadow: rgb(255 207 105 / 51%) 0 5px 35px !important;
    border:0 !important;
}

.bg-success.bg-shining {
    box-shadow: rgb(142 213 87 / 34%) 0 5px 15px !important;
    background-image: linear-gradient(180deg,#aae181,#89d351) !important;
    border:0 !important;
}

.bg-primary.bg-shining {
    box-shadow: rgb(87 187 213 / 34%) 0 5px 15px !important;
    background-image: linear-gradient(180deg,#98deff,#6cc2ff) !important;
    border:0 !important;
}

.bg-purple.bg-shining {
    box-shadow: rgb(179 87 213 / 34%) 0 5px 15px !important;
    background-image: linear-gradient(180deg,#ef98ff,#f96dfb) !important;
    border:0 !important;
}

.setting-btn {
    position: absolute;
    left: 0;
    top: -44px;
}

.setting-tools {
    position: absolute;
    right: 0;
    top: 0;
    color: #4e577f;
    z-index: 100;
    font-size: 16px;
    display: flex;
    background: white;
    padding: 2px;
    border-radius: 0 0 5px 5px;
    left: 0;
    margin: auto;
    width: 67px;
    justify-content: center;
}

.grid {
    position: relative;
}
.item {
    position: absolute;
    z-index: 1;
}
.item.muuri-item-hidden {
    z-index: 0;
}
.item.muuri-item-releasing {
    z-index: 2;
}
.item.muuri-item-dragging {
    z-index: 3;
}
.item.muuri-item-dragging .item-content,
.item.muuri-item-releasing .item-content {
    background: #FFCDD2;
}
.handle {
    cursor: pointer;
}
.layout-holder {
    width: 155px;
    justify-content: center;
    display: flex;
    padding: 10px;
    font-size: 28px;
    color: #4e577f;
    flex-flow: wrap;
}
.layout-label {
    font-size: 13px;
}
.layouts-holder {
    width: 310px;
    flex-wrap: wrap;
    border-radius: 10px;
}

.layout_html {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    left: 0;
    margin: auto;
    width: 100%;
    background: #d6dce159;
    height: 100%;
}

.layouts-holder {
    width: 310px;
    flex-wrap: wrap;
    border-radius: 10px;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 20%;
}

.all_widgets {
    position: fixed;
    width: 100%;
    height: 20px;
    background: #e7eaee;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    justify-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
}

.draggable {
    width: 100%;
    height: 15px;
    display: block;
    background: #d0d2d5;
    position: fixed;
    text-align: center;
    right: 0;
    left: 0;
    z-index: 10;
    cursor: n-resize;
}

.draggable span {
    background: white;
    padding: 3px;
    border-radius: 20px;
    position: absolute;
    width: 120px;
    right: 0;
    left: 0;
    margin: 4px auto auto;
}

.grid {
    width: 100%;
    min-height: 200px;
}

@media (max-width: 991.98px) {
    .app-header.bg-blue-xp .navbar-brand {
        color: #6c7780 !important;
    }
}

.container-repeatable-elements .controls {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: absolute !important;
    right: -16px;
    left: auto !important;
}

.checkbox {
    padding-top: 0px;
}

.alert-fixed-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    border-radius: 0;
    text-align: center;
    z-index: 2000;
}

.tab-sticky {
    position: fixed;
    top: 0;
    z-index: 100;
    background: #f1f4f8;
    right: 0;
    left: 0;
    padding: 0;
}

.tab-sticky .nav-tabs.nav-link {
    border-radius: 0;
}


body::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	background-color: inherit;
}

body::-webkit-scrollbar
{
    padding: 25px 0;
	width: 5px;
	background-color: inherit;
}

body::-webkit-scrollbar-thumb
{
    border-radius: 10px;
	background-color: var(--main);
	border: 0;
}

.block-editor-container .block-editor__sidebar {
    border-right: 1px solid #e0e0e0;
    border-left: none;
}

.block-editor-default-block-appender .block-editor-inserter {
    right: auto !important;
    left: 0;
}

.block-editor-container .block-editor__header {
    direction: ltr;
}

.components-button.has-icon.has-text svg {
    margin-left: 8px;
    margin-right: auto !important;
}

.components-placeholder__label .block-editor-block-icon, .components-placeholder__label .dashicon, .components-placeholder__label>svg {
    fill: currentColor;
    margin-left: 1ch;
    margin-right: 0 !important;
}


.components-placeholder__fieldset.components-placeholder__fieldset .components-placeholder__instructions {
    text-align: right;
}

.components-placeholder__fieldset .components-button {
    margin-bottom: 12px;
    margin-left: 12px;
    margin-right: 0 !important;
}

.components-form-file-upload {
    flex: auto !important;
}


.components-toggle-control .components-base-control__field .components-form-toggle {
    margin-left: 12px;
    margin-right: 0 !important;
}

.block-editor-block-card .block-editor-block-icon {
    margin-left: 12px !important;
    margin-right: 0 !important;
}

.components-popover.block-editor-block-popover {
    right: 15px !important;
    left: auto !important;
}

.badge {
    border-radius: 20px;
    font-weight: 400;
    padding: .6em .6em;
    color: #4b4b4b;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 0;
}

.badge.badge-success {
    background-color: #ecf7f0;
}

.badge.badge-danger {
    background-color: #ffeeee;
}

.badge.badge-info {
    background-color: #e9f3fc;
}

.badge.badge-warning {
    background-color: #fff2be;
}

.badge span.circle {
    width: 6px;
    height: 6px;
    display: block;
    border-radius: 8px;
    margin-left: .4rem;
}

.badge.badge-success .circle {
    background-color: #1ab69b;
    outline: 2px solid #1bb69b8f;
}

.badge.badge-danger .circle {
    background-color: #f95352;
    outline: 2px solid #f9545369;
}

.badge.badge-warning .circle {
    background-color: #f0d619;
    outline: 2px solid #f0d6198c;
}

.badge.badge-info .circle {
    background-color: #228be6;
    outline: 2px solid #228be675;
}

.datepicker-plot-area {
    font-family: 'IRANSans' !important;
}

#crudTable_wrapper #crudTable.dtr-inline.collapsed>tbody>tr>.dtr-control:before, #crudTable_wrapper table.dataTable.dtr-inline.collapsed>tbody>tr>.dtr-control:before {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #636161;
    content: "\f142";
    display: inline;
    font-family: Line Awesome Free;
    font-size: 21px;
    font-weight: 900;
    left: 0;
    margin: 0 0 0 -.25rem;
    position: relative;
    top: 0;
    width: 16px;
    margin-right: 0 !important;
    margin-left: .4rem;
}

table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td {
    text-align: right !important;
}

body {
    background-color: #f5f9fc;
}

.btn-secondary {
    background-color: #d4ecff;
    border-color: #d4ecff;
    color: #0091ff;
    font-size: 20px;
    padding: 7px 10px;
    line-height: 1;
}

.sidebar.sidebar-pills .nav-link.active, .sidebar.sidebar-pills .nav-link:hover {
    background-color: #eaf2f9;
    border-radius: 0 20px 20px 0;
    padding-right: 15px;
}

.sidebar.sidebar-pills .nav-dropdown.open {
    border-radius: 0 20px 20px 0;
    padding: 10px 10px 10px 0;
    margin: 5px 0;
}

.sidebar .nav-dropdown-items .nav-item {
    padding-right: 15px;
}

.app-footer {
    border-radius: 30px 30px 0 0;
    /* background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
    max-width: 1000px;
    margin: auto;
    width: 100%;

    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}

.app-footer .text-muted {
    color: rgb(44, 44, 44) !important;
}

.app-footer .text-muted a {
    color: black !important;
}

.bg-info {
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
}

.graphic-header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.sidebar-pills a:not(.active), .sidebar-pills a:not(.open), .sidebar-pills a:not(:active), .sidebar-pills a:not(:focus), .sidebar-pills a:not(:hover), .sidebar-pills li {
    color: #737f8b!important;
}

/* table */
.table th {
    background-color:rgb(255 255 255);
}

.border-xs {
    border: 0;
    border-radius: 10px !important;
    overflow: hidden;
}

.table td, .table th {
    border-top: 3px solid rgb(245 249 252);
}

#crudTable_wrapper .dataTables_length select {
    direction: ltr;
    border:0 !important;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus {
    box-shadow: 0 -1px 2px 0 rgb(0 0 0 / 5%);
    border: 0;
}

.tab-content {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
    border: 0;
}

.nav-tabs {
    border-bottom: 0;
}

.select2-container--bootstrap .select2-results__option {
    text-align: right !important;
}

.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
    background-color: #d3ecff;
    color: var(--main);
}

.sidebar .nav-item {
    margin-bottom: 3px;
}

.navbar-filters .navbar-nav>.active>a, .navbar-filters .navbar-nav>.active>a:focus, .navbar-filters .navbar-nav>.active>a:hover, .navbar-filters .navbar-nav>.open>a, .navbar-filters .navbar-nav>.open>a:focus, .navbar-filters .navbar-nav>.open>a:hover, .navbar-filters li>a:active {
    background-color: #d3ecff;
    border-radius: 20px;
    color: var(--main);
}

.dropzone-target {
    background: #f5f9fc !important;
}

.card {
    border: 0;
    border-radius: 10px;
}

.sticky-footer {
    right: 0;
    left: 0;
}